.baked{
    background: url('../../assets/watch.jpg') center no-repeat fixed;
    background-size: cover;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: -4;
    padding-bottom: 70px;
}
.baked::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.baked h2{
    margin-top: 80px;
    color: white;
}
.baked button{
    background-color: #a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    width: 140px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    transition: 0.2s ease;
    margin-top: 80px;
    margin-left: 10px;
}

.baked button a{
    display: block;
    text-decoration: none;
    color: white !important;
    font-size: 19px;
    font-weight: bold;
}
.baked button:hover a{
color: #a82d49 !important;
}
.baked button:hover{
    background-color: transparent;
}