.frequently{
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    font-family: "Tajawal";
}
.frequently h2{
    text-align: center;
    margin-bottom: 80px;
    font-size: 40px;
    color: #49121d;
}
.frequently h3{
    font-size: 22px;
    font-weight: bold;
}
.frequently h3 span{
    color: #a82d49;
}
.frequently p{
    font-size: 17px;
    color: #333;
    padding-left: 10px;
}
